html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.detail_page {
	width: 60%;
	height: 100%;
	margin: auto;
	position: relative;
	background-color: aqua;
	overflow: scroll;
	text-align:center;
}
.pro_head {
	width:100%;
	height:40px;
	border-bottom:solid brown;
}
.pro_head div {
	width:20%;
	height:100%;
	position:relitive;
	text-align:center;
	padding-top:10px;
}