html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.do_page {
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
	background-color: chocolate;
	overflow: hidden;
}
.pro_div {
	width:100%;
	height:75%;
	overflow:hidden;
	
}
.pro_index {
	width:100%;
	height:10%;
}
.upInf {
	width:100%;
	height:15%;
}