html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.home_page {
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
	background-color: chocolate;
	overflow: hidden;
}
.personal_info {
	width: 100%;
	height: 150px;
	/*background-color: black;*/
	overflow: hidden;
	border-bottom: solid white;
}
.headimg {
	width: 150px;
	height: 150px;
	float: left;
	position: relative;
	background: url(../img/head1.jpg) no-repeat;
	background-size: cover;
}
.info{
	height: 150px;
	width: 390px;
	/*background: white;*/
	float: left;
	position: relative;
}
.info_table {
	width: 100%;
	height: 100%;
	margin: auto;
	border-color: chocolate;
}
td,th{
	width: 33%;
	height: 40px;
	text-align: center;
}
.home_menu {
	width: 100%;
	height: 300px;
}
.beizhu {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 5px;
}
