/*管理员*/
.admin_page {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow:scroll;
}
.admin_table1{
	width: 50%;
	height: 100px;
	margin: auto;
	text-align: center;
}
.admin_table1 tr td {
	width: 50%;
	height: 30px;
	text-align: center;
}
.tianjia_tab tr td {
	width: 20%;
	height: 30px;
	text-align: center;
}
td input {
	width:90%;
	height:20px;
}
.admin_con {
	width: 80%;
	height:100px
	margin: auto;
	text-align: center;
	
}
.admin_list {
	width: 100%;
	margin: auto;
	text-align: center;
}

.admin_list tr td {
	width: 20%;
	height: 20px;
	text-align: center;
}
td button {
	width:90%;
	cursor:pointer;
}
/*课程*/
.course_page {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y:scroll;
}
.mycoursetable{
	width: 100%;
	height:60px;
	overflow:scroll;
	margin: auto;
	text-align: center;
}
.mycoursetable tr td {
	width: 25%;
	height: 20px;
	text-align: center;
}

.allcoursetable{
	width: 100%;
	height:200px;
	overflow:scroll;
	margin: auto;
	text-align: center;
}
.allcoursetable tr td {
	width: 20%;
	height: 20px;
	text-align: center;
}
.addcourse{
	width: 100%;
	height:50px;
	margin: auto;
	text-align: center;
}
.addcourse tr td {
	width: 25%;
	height: 20px;
	text-align: center;
}
/*题库*/
.problem_page {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow:scroll;
}
.problem_page table tr td{
	text-align:center;
}
.problem_page table tr td input{
	width:200px;
	height:30px;
}
.problem_page table tr td textarea{
	width:300px;
	height:150px;
}
.problem_page table tr td select{
	width:200px;
	height:30px;
	letter-spacing:3px;
}

.tiku {
	width:100%;
	height:200px;
	overflow:scroll;
}
.tiku{
	width:100%;
	overflow:scroll;
}

.tiku table tr td{
	text-align:center;
	width:16%;
	font-size:14px;
}
