html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background: url(../img/huoying2.jpg);
	background-size: cover;
	overflow: hidden;
}
.zhuce {
	width: 400px;
	height: 450px;
	background-color: brown;
	margin-left: 60%;
	margin-top: 5%;
}
.title {
	height: 50px;
	padding-top: 10px;
	width: 100%;
	/*background: red;*/
	text-align: center;
}
h2 {
	margin-top: 10px;
}
.register-container {
	width: 100%;
	height: 390px;
	text-align: center;
	/*background-color: blue;*/
	margin-top: 0;
}
#form-register {
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
	height: 250px;
	/*background: brown;*/
}
td {
	width: 50%;
	height: 50px;
	font-size: 18px;
}
input {
	width: 100%;
	height: 50%;
	letter-spacing: 2px;
	font-size: 16px;
}
select,option{
	width: 100%;
	height: 50%;
	letter-spacing: 2px;
	font-size: 16px;
}
button {
	width: 90px;
	height: 40px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 18px;
	font-family: "微软雅黑";
	/*color: white;*/
	background-color: aqua;
	cursor: pointer;
}
