<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>
   <servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>Code</servlet-name>
		<servlet-class>com.servlet.Code</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>Code</servlet-name>
		<url-pattern>/Code</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.servlet.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.servlet.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>Register</servlet-name>
		<servlet-class>com.servlet.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>BackAdminSet</servlet-name>
		<servlet-class>com.servlet.BackAdminSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>BackAdminSet</servlet-name>
		<url-pattern>/BackAdminSet</url-pattern>
	</servlet-mapping>
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>BackCourseSet</servlet-name>
		<servlet-class>com.servlet.BackCourseSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>BackCourseSet</servlet-name>
		<url-pattern>/BackCourseSet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>BackProblemSet</servlet-name>
		<servlet-class>com.servlet.BackProblemSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>BackProblemSet</servlet-name>
		<url-pattern>/BackProblemSet</url-pattern>
	</servlet-mapping>
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>BackTestSet</servlet-name>
		<servlet-class>com.servlet.BackTestSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>BackTestSet</servlet-name>
		<url-pattern>/BackTestSet</url-pattern>
	</servlet-mapping>
	<servlet>
		<!--Servlet类Code用于相应用户代码上传-->
		<servlet-name>AddClassServlet</servlet-name>
		<servlet-class>com.servlet.AddClassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--用户在前台的访问路径-->
		<servlet-name>AddClassServlet</servlet-name>
		<url-pattern>/AddClassServlet</url-pattern>
	</servlet-mapping>
</web-app>
